[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jaxlib = {file = "https://storage.googleapis.com/jax-releases/cuda11/jaxlib-0.3.2+cuda11.cudnn82-cp38-none-manylinux2010_x86_64.whl"}
jax = "==0.3.4"
trax = "==1.4.1"
pytest = "==7.1.1"
tensorflow = "==2.8.0"
tensorflow-text = "==2.8.1"
flax = "==0.4.1"
torch = {file = "https://download.pytorch.org/whl/cu115/torch-1.11.0%2Bcu115-cp38-cp38-linux_x86_64.whl"}
ml-collections = "*"
jupyterlab = "*"
seaborn = "*"
ipywidgets = "*"
reformer-pytorch = "==1.4.4"
performer-pytorch = "==1.1.4"
pytorch-fast-transformers = {git = "https://github.com/idiap/fast-transformers.git"}

[dev-packages]

[requires]
python_version = "3.8"
